{% include JB/setup %}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    	{% include JB/header %}
  </head>
  	<!-- 这里是禁止粘贴 --> 
  <!-- body oncontextmenu="window.event.returnValue=false" onselectstart="return false" onload="generateTOC(document.getElementById('toc'));" -->
  	<body>
 <!-- 	<noscript><iframe src=*.html></iframe></noscript>
	<script>
	function stop(){
	return false;
	}
	document.oncontextmenu=stop;
	</script>
-->
	<!-- 这里是返回顶部 --> 
    	{% include JB/returntop %}
    <div id="page" class="hentry">
      <header class="the-header">
      <div class="unit-head">
        <div class="unit-inner unit-head-inner">
          <p class="logo"><a href="{{ HOME_PATH }}">{{ site.title }}</a></p>
          <nav class="nav-global">
	  <div style=font-size:24px>
	  <strong>
	  
          <ul>
            <li><a href="http://hexiaowen.com">首页</a></li>
            <li><a href="/categories.html">归档</a></li>
            <li><a href="/resume.html">关于</a></li>
            <li><a href="http://www.weibo.com/mingus">微博</a></li>
            <li><a href="http://user.qzone.qq.com/165386037">空间</a></li>    
            <!-- 这里是谷歌搜索 --> 
    	    {% include JB/googlesearch %}
          </ul>
          
	  </strong>
	  </div>
          </nav>
        </div><!-- unit-inner -->
      </div><!-- unit-head -->
      </header>


      <div class="body" role="main">
        <div class="unit-body">
          <div class="unit-inner unit-body-inner">
            <div class="entry-content">

              {{ content }}
       
            </div>
          </div><!-- unit-inner -->
        </div><!-- unit-body -->
      </div><!-- body -->
      
      
      {% include JB/footer %}
      

    </div><!-- page -->

    {% include JB/custom %}
    {% include JB/analytics %}
    {% include JB/relatedposts %}
  </body>
</html>
