---
layout: page
---

 <div><img src="/assets/images/mine.jpg" alt=""/></div>
<section id="highlights">
  <ul>
    {% for highlight in page.highlights %}
      <li>{{ highlight }}</li>
    {% endfor %}
  </ul>
</section>

<section id="contacts">
  <h1>{{ page.contact_title}}</h1>
  <ul>
    {% for contact in page.contacts %}
      <li>
        {% if contact['link'] %}
          <a href="{{ contact['link'] }}">
            {{ contact['text'] }}
          </a>
        {% else %}
          {{ contact['text'] }}
        {% endif %}
      </li>
    {% endfor %}
    {% for contact_badge in  page.contacts_badges %}
      <li class="contact-badge">
        <a href="{{ contact_badge['link'] }}">
          <img
            src="http://g.etfv.co/{{ contact_badge['link'] }}?defaulticon=none"
            alt="{{ contact_badge['text'] }}" />
        </a>
      </li>
    {% endfor %}
  </ul>
</section>

<section id="experiences">
  <h1>{{ page.experiences_title }}</h1>
  <ul>
    {% for experience in page.experiences %}
      <li>
        <h2>{{ experience['title'] }}</h2>
        <p> {{ experience['period'] }}</p>
        <p> {{ experience['description'] }}</p>
      </li>
    {% endfor %}
  </ul>
</section>

<section id="skills">
  <h1>{{ page.skills_title }}</h1>
  <ul class="tag_box">
    {% for skill in page.skills %}
      <li>
        {% if skill['link'] %}
          <a href="{{ skill['link'] }}"
            class="{{ skill['level'] }}">
            {% unless skill['skip_icon'] %}
              <span>
                <img
                  src="http://g.etfv.co/{{ skill['link'] }}?defaulticon=none"
                  alt="{{ skill['name'] }} logo" />
              </span>
            {% endunless %}
            {{ skill['name'] }}
          </a>
        {% else %}
          <span class="{{ skill['level'] }}">{{ skill['name'] }}</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <p>{{ page.skill_legend_title }}:
    {% for skill_legend in page.skill_legends %}
      <span class="{{ skill_legend.first }}">{{ skill_legend.last }}</span>
    {% endfor %}
  </p>
</section>

<section id="education">
  <h1>{{ page.education_title }}</h1>
  <ul>
    {% for education in page.educations %}
      <li>
        <h2>{{ education['title'] }}</h2>
        <p> {{ education['period'] }}</p>
        <p> {{ education['description'] }}</p>
      </li>
    {% endfor %}
  </ul>
</section>

<section id="events">
  <h1>{{ page.events_title }}</h1>
  <ul>
    {% for event in page.events %}
      <li>{{ event }}</li>
    {% endfor %}
  </ul>
</section>

<section id="courses">
  <h1>{{ page.courses_title }}</h1>
  <ul>
    {% for course in page.courses %}
      <li>{{ course }}</li>
    {% endfor %}
  </ul>
</section>

<section id="about_me">
  <h1>{{ page.about_me_title }}</h1>
  <ul>
    {% for about_me in page.about_mes %}
      <li>{{ about_me }}</li>
    {% endfor %}
  </ul>
</section>

<section id="last_update">
  {{ page.last_update_title }}: {{ page.last_update }}
</section>

<!--{% include JB/comments %}-->
{% include JB/wumipinglun %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>
<script>
  $(function(){
    $('img').error(function(){
      $(this).parent().remove();
    });
  });
</script>
